.card-js .card-js-inner,
.card-qa .card-qa-inner,
.card-bsa .card-bsa-inner
{
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.5s;
    transform-style: preserve-3d;
}

.card-bsa:hover .card-bsa-inner
{
    transform: rotateY(180deg);
}

.card-js:hover .card-js-inner
{
    transform: rotateY(180deg);
}

.card-qa:hover .card-qa-inner
{
    transform: rotateY(180deg);
}

.back-js, .btn-join, .back-qa
{
    background-color: white;
    transform: rotateY(180deg);
}

.card-dotnet .front-card,
.card-php .front-card,
.card-events .front-card,
.card-blog .front-card,
.card-contacts .front-card,
.card-java .front-card
{
    transition: transform 0.3s
}
 
.card-dotnet .front-card:hover,
.card-dotnet:hover .front-card
{
    transform: scale(0);
    transform-origin: 100% 100%; 
}

.card-php .front-card:hover,
.card-php:hover .front-card
{
    transform: scale(0);
    transform-origin: 100% 0%;
}

.card-dotnet .front-card
{
    transform: scale(1);
    transform-origin: 100% 100%; 
}

.card-php .front-card
{
    transform: scale(1);
    transform-origin: 100% 0%;
}

.card-events .front-card:hover,
.card-events:hover .front-card,
.card-blog .front-card:hover,
.card-blog:hover .front-card,
.card-contacts .front-card:hover,
.card-contacts:hover .front-card
{
    transform: scaleX(0);
    transform-origin: 100% 0%;
}

.card-java .front-card:hover,
.card-java:hover .front-card
{
    transform: scaleY(0);
    transform-origin: 0% 100%;
}

.card-events .front-card,
.card-blog .front-card,
.card-contacts .front-card
{
    transform: scale(1);
    transform-origin: 100% 0%; 
}

.card-java .front-card
{
    transform: scaleY(1);
    transform-origin: 0% 100%;
}

.front-java 
{
    animation: fontSizeEnlarge40px .3s .2s
}

.front-dotnet, .front-php 
{
    animation: fontSizeEnlarge80px .3s .2s;
}

@keyframes fontSizeEnlarge80px {
    0% {
      font-size: 0;
    }
    100% {
      font-size: 5vw;
    }
}

@keyframes fontSizeEnlarge40px {
    0% {
      font-size: 0;
    }
    100% {
      font-size: 2.5vw;
    }
}
