* {
    box-sizing: border-box;
}

header {
    width: 100%;
    position: fixed;
    height: 70px;
    flex-direction: row;
    justify-content: space-between;
    background: #fff;
    box-shadow: 0 6px 5px -5px rgba(0,0,0,.1);
    z-index: 50;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    animation: 1s ease-out 0s 1 slideInFromTop;
}

@keyframes slideInFromTop {
    0% {
      transform: translateY(-100%);
    }
    100% {
      transform: translateY(0);
    }
  }

@media (max-width: 1024px) {
    header  {
        align-items: initial;
        overflow-y: scroll;
    }
}

header #logo img {
    display: inline-block;
    width: 115px;
    height: 33px;
}

header .left-side{
    justify-content: center;
    margin-left: 10%;
}

header, header .left-side, header .right-side {
    display: flex;
    align-items: center;
}

header #logo {
    cursor: pointer;
}

header .right-side {
    justify-content: center;
    margin-right: 10%;
}

.avatar-container .avatar {
    width: 40px;
    height: 40px;
    background-color: #ff9a00;
    color: #fff;
    display: block;
    overflow: hidden;
    position: relative;
    font-size: 1.25rem;
    align-items: center;
    flex-shrink: 0;
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    line-height: 1;
    user-select: none;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    border-radius: 50%;
}

.avatar-container .avatar span {
    margin-top: 3px;
}

.profile-menu .avatar-container {
    margin: 0 10px;
}

.avatar input
{
    width: 100%;
    height: 100%;
    top: -3px;
    left: -4px;
    position: absolute;
    cursor: pointer;
    display: block;
    opacity: 0;
    z-index: 5;
}

.header .right-side .profile-menu {
    display: flex;
    align-items: center;
    color: #000;
    width: 100%;
    justify-content: flex-end;
}

.bell-wrapper {
    position: relative;    
    display: flex;
    justify-content: center;
    align-items: center;

}

header .bell-wrapper span{
    color: #767676;
    cursor: pointer;
}

@media screen and (max-width: 768px){
    .profile-menu .mini-menu {
        min-width: 0;
        width: 175px;
    }
}

 .profile-menu .mini-menu {
    display: block;
    position: absolute;
    top: 62px;
    right: 10.75%;
    z-index: 131;
    min-width: 175px;
    height: auto;
    background: #fff;
    border-radius: 3px;
    box-shadow: -1px 5px 17px -7px rgba(0,0,0,.23);
    font-family: "Avenir Next", "Avenir", sans-serif;
}

.mini-menu #menu {
    list-style-type: none;
    padding: 0 10px 10px 10px;
    margin: 0;
}


.mini-menu #menu li
{
    padding: 0 0 5px 0;
    font-size: 14px;
    text-decoration: none;
    color: #232323;
    transition: color 0.3s ease;
}

.mini-menu #menu li:hover
{
    background-color: #f7f7f7;
}

.mini-menu h5 {
    color: #767676;
    margin: 5px 5px;
    font-family: "Avenir Next", "Avenir", sans-serif;
    text-align: center;
}

.mini-menu hr {
    color: #767676;
    width: 80%;
}

.profile-menu .avatar input:checked ~ .mini-menu {
    display: none;
}
